<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .info_section ul li {
            margin-bottom: 12px;
        }

        .info_section ul li span {
            color: #6c757d;
        }


        ul li span {
            color: #74777c;
        }

    </style>
</head>
<body>

<footer th:fragment="footer">
    <section class="info_section layout_padding">
        <div class="container">
            <div class="info_logo">
                <h2>
                    EcoPharm
                </h2>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <!-- VỀ CHÚNG TÔI -->
                    <div class="col-md-4">
                        <h6 class="fw-bold text-uppercase">Về chúng tôi</h6>
                        <ul class="list-unstyled">
                            <li><span>Thượng Mỗ, Đan Phượng, Hà Nội</span></li>
                            <li></li>
                            <li><span>Call : +84 777 137 220</span></li>
                            <li></li>
                            <li><span>hphan0859@gmail.com</span></li>
                        </ul>
                    </div>

                    <!-- DANH MỤC -->
                    <div class="col-md-4">
                        <h6 class="fw-bold text-uppercase">Danh mục</h6>
                        <ul class="list-unstyled" id="categoryList">
                        </ul>
                    </div>

                    <!-- TÌM HIỂU THÊM -->
                    <div class="col-md-4">
                        <h6 class="fw-bold text-uppercase">EcoPharm</h6>
                        <ul class="list-unstyled">
                            <li><span>Không chỉ là hiệu thuốc – chúng tôi là người bạn đồng hành cùng sức khỏe của
                                bạn.</span></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="info_form">
                        <form action="">
                            <input type="text" placeholder="Enter your email">
                            <button>
                                subscribe
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="info_social">
                        <div>
                            <a href="">
                                <img src="images/facebook-logo-button.png" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <img src="images/twitter-logo-button.png" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <img src="images/linkedin.png" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <img src="images/instagram.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- end info section -->


    <!-- footer section -->
    <section class="container-fluid footer_section ">
        <p>
            &copy; <span id="displayYear"></span> Thời hạn của cuộc đời tùy thuộc sức khỏe,
            <a href="https://html.design/">còn sức khỏe thì do cách sống quyết định.</a>
        </p>
    </section>

</footer>
</body>
</html>